schema/signed-document.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://opensource.duma.sh/xml/signed-document" xmlns:doc="https://opensource.duma.sh/xml/signed-document" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="SignatureType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="id" use="optional"/>
                <xs:attribute type="xs:string" name="public-key" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="ContentType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="encoding" use="optional" default="raw"/>
                <xs:attribute type="xs:string" name="sha256" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:element name="documents">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="doc:document" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="document">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="content" type="doc:ContentType"/>
                <xs:element name="signature" maxOccurs="unbounded" minOccurs="0" type="doc:SignatureType"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id" use="optional"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
